<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>潜在关系</string>
			<key>value</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>待拓展关系</string>
			<key>value</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>一般关系</string>
			<key>value</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>较好关系</string>
			<key>value</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>密切关系</string>
			<key>value</key>
			<integer>40</integer>
		</dict>
	</array>
</dict>
</plist>
